# directories
compiled
compiled/
doc/**
drills/**
eshell/**
experimental/**
lib/**
local/**
local.24.*/**
local.*/**
misc/**
packages/**
scripts/git-branch-filtering/**
standalone/**
tmp/**

# haskell-mode is already under git
src/haskell/haskell-mode

# these come from using *.tex files, e.g. exporting *.org into pdf
auto/**

# prog-data
prog-data/auto-insert/insert.work.hs
prog-data/.maxima_history
prog-data/backup/**
prog-data/elisp-packages/**
prog-data/emms/**
prog-data/inf-haskell-module-alist
prog-data/ipython/**
prog-data/lambda/**
prog-data/nrepl-history
prog-data/nyan-mode/**
prog-data/packages/**
prog-data/persistent-store*
prog-data/pylookup.db
prog-data/quack/**
prog-data/recentf
prog-data/slime-repl-history
prog-data/themes/**

# files
machine-specific-setup.el
LightenColor.hs
emacs-todo.org
fortunes-various.txt
lambda.txt
todo.org
tramp
quotations.txt
.org-id-locations
diary
quotations-fortunes.txt
last-wconf

# extensions
*.elc
*.eln
*~
/doc/dir
*.info
*-autoloads.el
.dir-locals-2.el

.cask/

.eproj-info

diary.org
diary-data/
flow.org
ideas.org
org-ref.org
org-tutorial.org
org.html
prog-data/backup*.tar.*

add-subtree.sh
emacs-repo-tool
merge-changes.sh
push-master.sh
record-merge-commit-in-grafts.sh
rsync-push.sh
subtree-utils.sh
update-third-party.sh

grep-test.sh

emacs.dmp
eln-cache/