-- |
-- Module:     ${haskell path to module name}
-- Copyright:  (c) ${author} ${date year}
-- License:    ${license spdx} (see LICENSE)
-- Maintainer: ${email}

module ${haskell path to module name} where

